.musicology {
    width: 90%;
    padding-bottom: 1rem;
}

.top-left {
    padding-top: 2rem;
}

.artist-name {
    font-size: 4rem;
    font-weight: 900;
    color: white;
}

.tab-content {
    margin-top: 1rem;
}

.sim-artist-card {
    margin-top: 1rem;
    float: left;
    width: 15rem;
}

.card-border {
    padding-left: 0px;
}

.card-title {
    text-align: left;
    margin-left: 1rem;
    font-size: 15pt;
}
