.musicology {
    width: 92%;
    padding-bottom: 1rem;
}

.top-left {
    padding-top: 2rem;
    padding-right: 2rem;
    position: fixed;
    width: 300px;
}

.similar-head {
    position: fixed;
}

.similar-content {
    margin-top: 2rem;
    margin-left: -.8rem;
    position: fixed;
    width: auto;
    height: 70%;
    overflow-y: auto;
}

.artist-name {
    font-size: 4rem;
    font-weight: 900;
    color: white;
    position: relative;
    bottom: -2rem;
}

.tab-content {
    margin-top: 1rem;
}

.sim-artist-card {
    margin-top: 1rem;
    float: left;
    width: 15rem;
}

.card-border {
    padding-left: 0px;
}

.card-title {
    text-align: left;
    margin-left: 1rem;
    font-size: 15pt;
}

.similar-bottom-responsive {
    box-sizing: content-box;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.similar-bottom-header {
    margin-bottom: 1rem;
}

.albums-row {
    margin-top: 1rem;
}

.popular-row {
    margin-top: .5rem;
}

.album-titles {
    font-size: 2.1em;
}

.album-years {
    font-size: .8rem;
}

@media (max-width: 1199px) {
    .tabs-responsive {padding-left: 3rem;}
    .jumbo-responsive {padding-left: 3rem;}
    .album-titles {font-size: 2em;}
}

@media (max-width: 991px) {
    .similar-responsive {display: none;}
    .top-left {display: none;}
    .search-align {position: absolute;}
    .search-align {right: -35px;}
    .sac-bottom {width: 12rem;}
}

@media (max-width: 767px) {
    .album-titles {font-size: 1.6rem;}
    .sac-bottom {width: 10rem;}
}

@media (max-width: 575px) {
    .search-align {width:50%;}
    .navbar-logo {width:50%;}
    .artist-name {font-size: 3rem;}
    .album-titles {font-size: 1.5em;}
}

@media (max-width: 575px) {
    .artist-name {font-size: 2rem;}
}

@media (max-width: 515px) {
    .sac-bottom {width: 9rem;}
}

@media (max-width: 496px) {
    .album-titles {font-size: 1em;}
}

@media (max-width: 476px) {
    .sac-bottom {width: 8rem;}
    .similar-bottom-header {font-size: 1.5rem;}
}

@media (max-width: 415px) {
    .sac-bottom {width: 7rem;}
}

@media (max-width: 320px) {
    .sac-bottom {width: 6rem;}
}

@media (min-width: 992px) {
    .similar-bottom-responsive {display: none;}
    .navbar {display:none;}
    .margin-left {margin-left: 250px;}
}

@media (min-width: 1200px) {
    .margin-left {margin-left: 350px;}
}


.popular {
    visibility: hidden;
}

.albums {
    visibility: hidden;
} 

.jumbotron-image {
    background-position: left center;
}

.card-border {
    visibility: hidden;
}

#events-card {
    margin-top: 8px;
}

