.musicology {
    font-size: 3rem;
    margin: 2rem 2rem 2rem 0rem;
}

.search {
    margin: 0rem 1rem 1rem 0rem;
}

.tab-content {
    margin-top: 1rem;
}

.sim-artist-card {
    margin-top: 1rem;
    float: left;
    width: 15rem;
}

.card-border {
    padding-left: 0px;
}

.card-title {
    text-align: left;
    margin-left: 1rem;
    font-size: 15pt;
}
