.musicology {
    width: 92%;
    padding-bottom: 1rem;
}

.top-left {
    padding-top: 2rem;
}

.artist-name {
    font-size: 4rem;
    font-weight: 900;
    color: white;
}

.tab-content {
    margin-top: 1rem;
}

.sim-artist-card {
    margin-top: 1rem;
    float: left;
    width: 15rem;
}

.card-border {
    padding-left: 0px;
}

.card-title {
    text-align: left;
    margin-left: 1rem;
    font-size: 15pt;
}

.similar-bottom-responsive {
    margin-top: 3rem;
}

.sac-bottom {
    margin-top: 1rem;
    width: 9rem;
}

@media (max-width: 1200px) {
    .tabs-responsive {padding-left: 3rem;}
    .jumbo-responsive {padding-left: 3rem;}
}

@media (max-width: 991px) {
    .similar-responsive {display: none;}
    /* .top-left {display: none;} */
    .search-align {position: absolute;}
    .search-align {right: -35px;}
}


@media (min-width: 992px) {
    .similar-bottom-responsive {display: none;}
    .navbar {display:none;}
}